{% extends "base.html" %}
{% block head %}
{% block title %}Montage Bodenbelag Alex Frank{% endblock %}
  {{ super() }}
{% endblock %}
    <!-- Page-->
{% block page %}
  {{ super() }}
  <!-- Page Header-->

  {% block header %}
    {{ super() }}
  {% endblock %}



      <!-- Page Content-->
      <!-- Swiper-->

{% endblock %}
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{{url_for('static', filename='js/core.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>

  </body>
</html>