      <div class="modal fade contact-modal" id="free-consultation" tabindex="-1" role="dialog" aria-label="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-custom">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="modal-header">
              <h5 class="modal-title">Kostenlose Beratung</h5>
            </div>
            <div class="modal-dialog-inner">
              <form class="rd-mailform mailform-modal text-left offset-top-30" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="range range-15">
                  <div class="cell-lg-12">
                    <div class="form-group">
                      <label class="form-label" for="free-consultation-name">Dein Name</label>
                      <input class="form-control" id="free-consultation-name" type="text" name="name" data-constraints="@Required">
                    </div>
                  </div>
                  <div class="cell-lg-12 offset-top-20">
                    <div class="form-group">
                      <label class="form-label" for="free-consultation-email">Deine Mailadresse</label>
                      <input class="form-control" id="free-consultation-email" type="email" name="email" data-constraints="@Required @Email">
                    </div>
                  </div>
                  <div class="cell-lg-12 offset-top-20">
                    <!-- BootstrapDateTimePicker-->
                    <div class="form-group">
                      <label class="form-label" for="rd-mailform-time">Datum & Uhrzeit</label>
                      <input class="form-control" id="rd-mailform-time" type="text" name="time" data-time-picker="">
                    </div>
                  </div>
                  <div class="cell-lg-12 offset-top-20">
                    <div class="form-group">
                      <label class="form-label" for="free-consultation-message">Deine Nachricht</label>
                      <textarea class="form-control" id="free-consultation-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                </div>
                <div class="group-sm text-center text-lg-left offset-top-30">
                  <button class="btn btn-primary btn-mod-1" type="submit">Absenden</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>