<div class="modal fade contact-modal" id="inquiry" tabindex="-1" role="dialog" aria-label="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-custom">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="modal-header">
              <h5 class="modal-title">Termin anfragen</h5>
            </div>
            <div class="modal-dialog-inner">

                <!-- Form Mail -->
              <form class="rd-mailform mailform-modal text-left offset-top-30" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="range range-15">
                  <div class="cell-lg-12">
                    <div class="form-group">
                      <label class="form-label" for="coach-order-name-2">Dein Name</label>
                      <input class="form-control" id="coach-order-name-2" type="text" name="name" data-constraints="@Required">
                    </div>
                  </div>
                  <div class="cell-lg-12">
                    <div class="form-group">
                      <label class="form-label" for="coach-order-email-2">Deine Mailadresse</label>
                      <input class="form-control" id="coach-order-email-2" type="email" name="email" data-constraints="@Required @Email">
                    </div>
                  </div>
                  <div class="cell-lg-12">
                    <div class="form-group">
                      <label class="form-label" for="contact-order-phone-2">Deine Telefonnummer</label>
                      <input class="form-control" id="contact-order-phone-2" type="text" name="phone" data-constraints="@Required @Numeric">
                    </div>
                  </div>
                  <div class="cell-lg-12 offset-top-20 block-relative-validation">
                    <!-- Select 2-->
                    <select class="form-input select" data-placeholder="Was muss gemacht werden?" data-constraints="@Required">
                      <option label="placeholder"></option>
                      <option label="2">Boden verlegen</option>
                      <option value="3">Boden entfernen</option>
                      <option value="4">Boden bestellen</option>
                      <option value="5">Einfach schnacken</option>
                    </select>
                  </div>
                  <div class="cell-lg-12 offset-top-20">
                    <div class="form-group">
                      <label class="form-label" for="coach-order-message-2">Ihre Nachricht</label>
                      <textarea class="form-control" id="coach-order-message-2" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                </div>
                <div class="group-sm text-center text-lg-left offset-top-30">
                  <button class="btn btn btn-primary btn-mod-1" type="submit">Anfragen</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>